body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #000;
}
.container{
    padding: 10px;
    position: absolute;
    left: 48%;
    top: 48%;
    transform: translate(-50%,-50%);
}
input{
    height: 60px;
    width: 28px;
    outline: none;
    padding: 0 20px;
    color: #000;
    font-size: 20px;
    border: 1px solid #D50000;
    border-radius: 30px;
    transition: all 0.7s ease
}
::placeholder{
    color: gray;
}
.btn{
    position: absolute;
    right: 0;
    top: 0;
    background: #D50000;
    height: 80px;
    width:80px;
    text-align: center;
    border-radius: 50%; 
}
.btn i{
    font-size: 25px;
    line-height: 80px;
    color: #fff;
    transition: all 0.6s ease
}
.container:hover input{
    width: 250px;
}
.container:hover i{
    transform: rotate(-350deg);
}


